/ Call To Action Section
%section#call-to-action.call-to-action.section.dark-background
  %img{:alt => "", :src => "/assets/public/assets/img/cta-bg.jpg"}/
  .container
    .row.justify-content-center{"data-aos" => "zoom-in", "data-aos-delay" => "100"}
      .col-xl-10
        .text-center
          %h3
            = t('pages.call_to_action.title')
          %p
            = t('pages.call_to_action.body')
          %a.cta-btn{:href => "#contact"}
            = t('pages.call_to_action.btn')
/ /Call To Action Section

