/ Clients Section
%section#clients.clients.section
  .container{"data-aos" => "fade-up"}
    .row.gy-4
      .col-xl-2.col-md-3.col-6.client-logo
        %img.img-fluid{:alt => "", :src => "/assets/public/assets/img/clients/client-1.png"}/
      / End Client Item
      .col-xl-2.col-md-3.col-6.client-logo
        %img.img-fluid{:alt => "", :src => "/assets/public/assets/img/clients/client-2.png"}/
      / End Client Item
      .col-xl-2.col-md-3.col-6.client-logo
        %img.img-fluid{:alt => "", :src => "/assets/public/assets/img/clients/client-3.png"}/
      / End Client Item
      .col-xl-2.col-md-3.col-6.client-logo
        %img.img-fluid{:alt => "", :src => "/assets/public/assets/img/clients/client-4.png"}/
      / End Client Item
      .col-xl-2.col-md-3.col-6.client-logo
        %img.img-fluid{:alt => "", :src => "/assets/public/assets/img/clients/client-5.png"}/
      / End Client Item
      .col-xl-2.col-md-3.col-6.client-logo
        %img.img-fluid{:alt => "", :src => "/assets/public/assets/img/clients/client-6.png"}/
      / End Client Item
/ /Clients Section

