/ Contact Section
%section#contact.contact.section
  / Section Title
  .container.section-title{"data-aos" => "fade-up"}
    %h2 Contact
    %p Necessitatibus eius consequatur ex aliquid fuga eum quidem sint consectetur velit
  / End Section Title
  .container{"data-aos" => "fade-up", "data-aos-delay" => "100"}
    .row.gy-4
      .col-lg-6
        .row.gy-4
          .col-md-6
            .info-item{"data-aos" => "fade", "data-aos-delay" => "200"}
              %i.bi.bi-geo-alt
              %h3 Address
              %p A108 Adam Street
              %p New York, NY 535022
          / End Info Item
          .col-md-6
            .info-item{"data-aos" => "fade", "data-aos-delay" => "300"}
              %i.bi.bi-telephone
              %h3 Call Us
              %p +1 5589 55488 55
              %p +1 6678 254445 41
          / End Info Item
          .col-md-6
            .info-item{"data-aos" => "fade", "data-aos-delay" => "400"}
              %i.bi.bi-envelope
              %h3 Email Us
              %p info@example.com
              %p contact@example.com
          / End Info Item
          .col-md-6
            .info-item{"data-aos" => "fade", "data-aos-delay" => "500"}
              %i.bi.bi-clock
              %h3 Open Hours
              %p Monday - Friday
              %p 9:00AM - 05:00PM
          / End Info Item
      .col-lg-6
        %form.php-email-form{:action => "forms/contact.php", "data-aos" => "fade-up", "data-aos-delay" => "200", :method => "post"}
          .row.gy-4
            .col-md-6
              %input.form-control{:name => "name", :placeholder => "Your Name", :required => "", :type => "text"}/
            .col-md-6
              %input.form-control{:name => "email", :placeholder => "Your Email", :required => "", :type => "email"}/
            .col-12
              %input.form-control{:name => "subject", :placeholder => "Subject", :required => "", :type => "text"}/
            .col-12
              %textarea.form-control{:name => "message", :placeholder => "Message", :required => "", :rows => "6"}
            .col-12.text-center
              .loading Loading
              .error-message
              .sent-message Your message has been sent. Thank you!
              %button{:type => "submit"} Send Message
      / End Contact Form
/ /Contact Section


