/ Faq Section
%section#faq.faq.section
  .container
    .row.gy-4
      .col-lg-4{"data-aos" => "fade-up", "data-aos-delay" => "100"}
        .content.px-xl-5
          %h3
            %span Frequently Asked
            %strong Questions
          %p
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Duis aute irure dolor in reprehenderit
      .col-lg-8{"data-aos" => "fade-up", "data-aos-delay" => "200"}
        .faq-container
          .faq-item.faq-active
            %h3
              %span.num 1.
              %span Non consectetur a erat nam at lectus urna duis?
            .faq-content
              %p Feugiat pretium nibh ipsum consequat. Tempus iaculis urna id volutpat lacus laoreet non curabitur gravida. Venenatis lectus magna fringilla urna porttitor rhoncus dolor purus non.
            %i.faq-toggle.bi.bi-chevron-right
          / End Faq item
          .faq-item
            %h3
              %span.num 2.
              %span Feugiat scelerisque varius morbi enim nunc faucibus a pellentesque?
            .faq-content
              %p Dolor sit amet consectetur adipiscing elit pellentesque habitant morbi. Id interdum velit laoreet id donec ultrices. Fringilla phasellus faucibus scelerisque eleifend donec pretium. Est pellentesque elit ullamcorper dignissim. Mauris ultrices eros in cursus turpis massa tincidunt dui.
            %i.faq-toggle.bi.bi-chevron-right
          / End Faq item
          .faq-item
            %h3
              %span.num 3.
              %span Dolor sit amet consectetur adipiscing elit pellentesque?
            .faq-content
              %p Eleifend mi in nulla posuere sollicitudin aliquam ultrices sagittis orci. Faucibus pulvinar elementum integer enim. Sem nulla pharetra diam sit amet nisl suscipit. Rutrum tellus pellentesque eu tincidunt. Lectus urna duis convallis convallis tellus. Urna molestie at elementum eu facilisis sed odio morbi quis
            %i.faq-toggle.bi.bi-chevron-right
          / End Faq item
          .faq-item
            %h3
              %span.num 4.
              %span Ac odio tempor orci dapibus. Aliquam eleifend mi in nulla?
            .faq-content
              %p Dolor sit amet consectetur adipiscing elit pellentesque habitant morbi. Id interdum velit laoreet id donec ultrices. Fringilla phasellus faucibus scelerisque eleifend donec pretium. Est pellentesque elit ullamcorper dignissim. Mauris ultrices eros in cursus turpis massa tincidunt dui.
            %i.faq-toggle.bi.bi-chevron-right
          / End Faq item
          .faq-item
            %h3
              %span.num 5.
              %span Tempus quam pellentesque nec nam aliquam sem et tortor consequat?
            .faq-content
              %p Molestie a iaculis at erat pellentesque adipiscing commodo. Dignissim suspendisse in est ante in. Nunc vel risus commodo viverra maecenas accumsan. Sit amet nisl suscipit adipiscing bibendum est. Purus gravida quis blandit turpis cursus in
            %i.faq-toggle.bi.bi-chevron-right
          / End Faq item
/ /Faq Section

