%section#hero.hero.section.dark-background
  %img{:alt => "", "data-aos" => "fade-in", :src => "/assets/public/assets/img/hero-bg.jpg"}/
  .container
    .row
      .col-lg-10
        %h2{"data-aos" => "fade-up", "data-aos-delay" => "100"}
          = t('pages.hero.title')
        %p{"data-aos" => "fade-up", "data-aos-delay" => "200"}
          = t('pages.hero.subtitle')

      .col-lg-5{"data-aos" => "fade-up", "data-aos-delay" => "300"}
        = simple_form_for Contact.new, input_html: {class: 'form-control'} do |f|
          .sign-up-form
            = f.input :email, label: false,  input_html: { class: "form-control", placeholder: 'Email' }
            %input{:type => "submit", value: t('pages.hero.form.submit_button')}/

        -#%form.php-email-form{:action => "forms/newsletter.php", :method => "post"}
          .sign-up-form
            %input{:name => "email", :type => "email", }/
            %input{:type => "submit", value: t('pages.hero.form.submit_button')}/
          .loading Loading
          .error-message
          .sent-message Your subscription request has been sent. Thank you!
/ /Hero Section

