/ Pricing Section
%section#pricing.pricing.section
  / Section Title
  .container.section-title{"data-aos" => "fade-up"}
    %h2 Pricing
    %p Necessitatibus eius consequatur ex aliquid fuga eum quidem sint consectetur velit
  / End Section Title
  .container{"data-aos" => "zoom-in", "data-aos-delay" => "100"}
    .row.g-4
      .col-lg-4
        .pricing-item
          %h3 Free Plan
          .icon
            %i.bi.bi-box
          %h4
            %sup> $
            0
            %span / month
          %ul
            %li
              %i.bi.bi-check
              %span Quam adipiscing vitae proin
            %li
              %i.bi.bi-check
              %span Nec feugiat nisl pretium
            %li
              %i.bi.bi-check
              %span Nulla at volutpat diam uteera
            %li.na
              %i.bi.bi-x
              %span Pharetra massa massa ultricies
            %li.na
              %i.bi.bi-x
              %span Massa ultricies mi quis hendrerit
          .text-center
            %a.buy-btn{:href => "#"} Buy Now
      / End Pricing Item
      .col-lg-4
        .pricing-item.featured
          %h3 Business Plan
          .icon
            %i.bi.bi-rocket
          %h4
            %sup> $
            29
            %span / month
          %ul
            %li
              %i.bi.bi-check
              %span Quam adipiscing vitae proin
            %li
              %i.bi.bi-check
              %span Nec feugiat nisl pretium
            %li
              %i.bi.bi-check
              %span Nulla at volutpat diam uteera
            %li
              %i.bi.bi-check
              %span Pharetra massa massa ultricies
            %li
              %i.bi.bi-check
              %span Massa ultricies mi quis hendrerit
          .text-center
            %a.buy-btn{:href => "#"} Buy Now
      / End Pricing Item
      .col-lg-4
        .pricing-item
          %h3 Developer Plan
          .icon
            %i.bi.bi-send
          %h4
            %sup> $
            49
            %span / month
          %ul
            %li
              %i.bi.bi-check
              %span Quam adipiscing vitae proin
            %li
              %i.bi.bi-check
              %span Nec feugiat nisl pretium
            %li
              %i.bi.bi-check
              %span Nulla at volutpat diam uteera
            %li
              %i.bi.bi-check
              %span Pharetra massa massa ultricies
            %li
              %i.bi.bi-check
              %span Massa ultricies mi quis hendrerit
          .text-center
            %a.buy-btn{:href => "#"} Buy Now
      / End Pricing Item
/ /Pricing Section

