/ Stats Section
%section#stats.stats.section.dark-background
  %img{:alt => "", "data-aos" => "fade-in", :src => "/assets/public/assets/img/stats-bg.jpg"}/
  .container.position-relative{"data-aos" => "fade-up", "data-aos-delay" => "100"}
    .row.gy-4
      .col-lg-3.col-md-6
        .stats-item.text-center.w-100.h-100
          %span.purecounter{"data-purecounter-duration" => "1", "data-purecounter-end" => "232", "data-purecounter-start" => "0"}
          %p Clients
      / End Stats Item
      .col-lg-3.col-md-6
        .stats-item.text-center.w-100.h-100
          %span.purecounter{"data-purecounter-duration" => "1", "data-purecounter-end" => "521", "data-purecounter-start" => "0"}
          %p Projects
      / End Stats Item
      .col-lg-3.col-md-6
        .stats-item.text-center.w-100.h-100
          %span.purecounter{"data-purecounter-duration" => "1", "data-purecounter-end" => "1453", "data-purecounter-start" => "0"}
          %p Hours Of Support
      / End Stats Item
      .col-lg-3.col-md-6
        .stats-item.text-center.w-100.h-100
          %span.purecounter{"data-purecounter-duration" => "1", "data-purecounter-end" => "32", "data-purecounter-start" => "0"}
          %p Workers
      / End Stats Item
/ /Stats Section

