/ Team Section
%section#team.team.section.light-background
  / Section Title
  .container.section-title{"data-aos" => "fade-up"}
    %h2 Team
    %p Necessitatibus eius consequatur ex aliquid fuga eum quidem sint consectetur velit
  / End Section Title
  .container
    .row.gy-5
      .col-lg-4.col-md-6.member{"data-aos" => "fade-up", "data-aos-delay" => "100"}
        .member-img
          %img.img-fluid{:alt => "", :src => "/assets/public/assets/img/team/team-1.jpg"}/
          .social
            %a{:href => "#"}
              %i.bi.bi-twitter-x
            %a{:href => "#"}
              %i.bi.bi-facebook
            %a{:href => "#"}
              %i.bi.bi-instagram
            %a{:href => "#"}
              %i.bi.bi-linkedin
        .member-info.text-center
          %h4 Walter White
          %span Chief Executive Officer
          %p Aliquam iure quaerat voluptatem praesentium possimus unde laudantium vel dolorum distinctio dire flow
      / End Team Member
      .col-lg-4.col-md-6.member{"data-aos" => "fade-up", "data-aos-delay" => "200"}
        .member-img
          %img.img-fluid{:alt => "", :src => "/assets/public/assets/img/team/team-2.jpg"}/
          .social
            %a{:href => "#"}
              %i.bi.bi-twitter-x
            %a{:href => "#"}
              %i.bi.bi-facebook
            %a{:href => "#"}
              %i.bi.bi-instagram
            %a{:href => "#"}
              %i.bi.bi-linkedin
        .member-info.text-center
          %h4 Sarah Jhonson
          %span Product Manager
          %p Labore ipsam sit consequatur exercitationem rerum laboriosam laudantium aut quod dolores exercitationem ut
      / End Team Member
      .col-lg-4.col-md-6.member{"data-aos" => "fade-up", "data-aos-delay" => "300"}
        .member-img
          %img.img-fluid{:alt => "", :src => "/assets/public/assets/img/team/team-3.jpg"}/
          .social
            %a{:href => "#"}
              %i.bi.bi-twitter-x
            %a{:href => "#"}
              %i.bi.bi-facebook
            %a{:href => "#"}
              %i.bi.bi-instagram
            %a{:href => "#"}
              %i.bi.bi-linkedin
        .member-info.text-center
          %h4 William Anderson
          %span CTO
          %p Illum minima ea autem doloremque ipsum quidem quas aspernatur modi ut praesentium vel tque sed facilis at qui
      / End Team Member
      .col-lg-4.col-md-6.member{"data-aos" => "fade-up", "data-aos-delay" => "400"}
        .member-img
          %img.img-fluid{:alt => "", :src => "/assets/public/assets/img/team/team-4.jpg"}/
          .social
            %a{:href => "#"}
              %i.bi.bi-twitter-x
            %a{:href => "#"}
              %i.bi.bi-facebook
            %a{:href => "#"}
              %i.bi.bi-instagram
            %a{:href => "#"}
              %i.bi.bi-linkedin
        .member-info.text-center
          %h4 Amanda Jepson
          %span Accountant
          %p Magni voluptatem accusamus assumenda cum nisi aut qui dolorem voluptate sed et veniam quasi quam consectetur
      / End Team Member
      .col-lg-4.col-md-6.member{"data-aos" => "fade-up", "data-aos-delay" => "500"}
        .member-img
          %img.img-fluid{:alt => "", :src => "/assets/public/assets/img/team/team-5.jpg"}/
          .social
            %a{:href => "#"}
              %i.bi.bi-twitter-x
            %a{:href => "#"}
              %i.bi.bi-facebook
            %a{:href => "#"}
              %i.bi.bi-instagram
            %a{:href => "#"}
              %i.bi.bi-linkedin
        .member-info.text-center
          %h4 Brian Doe
          %span Marketing
          %p Qui consequuntur quos accusamus magnam quo est molestiae eius laboriosam sunt doloribus quia impedit laborum velit
      / End Team Member
      .col-lg-4.col-md-6.member{"data-aos" => "fade-up", "data-aos-delay" => "600"}
        .member-img
          %img.img-fluid{:alt => "", :src => "/assets/public/assets/img/team/team-6.jpg"}/
          .social
            %a{:href => "#"}
              %i.bi.bi-twitter-x
            %a{:href => "#"}
              %i.bi.bi-facebook
            %a{:href => "#"}
              %i.bi.bi-instagram
            %a{:href => "#"}
              %i.bi.bi-linkedin
        .member-info.text-center
          %h4 Josepha Palas
          %span Operation
          %p Sint sint eveniet explicabo amet consequatur nesciunt error enim rerum earum et omnis fugit eligendi cupiditate vel
      / End Team Member
/ /Team Section

