/ Testimonials Section
%section#testimonials.testimonials.section.light-background
  .container
    .row.align-items-center
      .col-lg-5.info{"data-aos" => "fade-up", "data-aos-delay" => "100"}
        %h3 Testimonials
        %p
          Ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate
          velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident.
      .col-lg-7{"data-aos" => "fade-up", "data-aos-delay" => "200"}
        .swiper.init-swiper
          %script.swiper-config{:type => "application/json"}
            :cdata
              {
              "loop": true,
              "speed": 600,
              "autoplay": {
              "delay": 5000
              },
              "slidesPerView": "auto",
              "pagination": {
              "el": ".swiper-pagination",
              "type": "bullets",
              "clickable": true
              }
              }
          .swiper-wrapper
            .swiper-slide
              .testimonial-item
                .d-flex
                  %img.testimonial-img.flex-shrink-0{:alt => "", :src => "/assets/public/assets/img/testimonials/testimonials-1.jpg"}/
                  %div
                    %h3 Saul Goodman
                    %h4 Ceo & Founder
                    .stars
                      %i.bi.bi-star-fill
                      %i.bi.bi-star-fill
                      %i.bi.bi-star-fill
                      %i.bi.bi-star-fill
                      %i.bi.bi-star-fill
                %p
                  %i.bi.bi-quote.quote-icon-left
                  %span Proin iaculis purus consequat sem cure digni ssim donec porttitora entum suscipit rhoncus. Accusantium quam, ultricies eget id, aliquam eget nibh et. Maecen aliquam, risus at semper.
                  %i.bi.bi-quote.quote-icon-right
            / End testimonial item
            .swiper-slide
              .testimonial-item
                .d-flex
                  %img.testimonial-img.flex-shrink-0{:alt => "", :src => "/assets/public/assets/img/testimonials/testimonials-2.jpg"}/
                  %div
                    %h3 Sara Wilsson
                    %h4 Designer
                    .stars
                      %i.bi.bi-star-fill
                      %i.bi.bi-star-fill
                      %i.bi.bi-star-fill
                      %i.bi.bi-star-fill
                      %i.bi.bi-star-fill
                %p
                  %i.bi.bi-quote.quote-icon-left
                  %span Export tempor illum tamen malis malis eram quae irure esse labore quem cillum quid cillum eram malis quorum velit fore eram velit sunt aliqua noster fugiat irure amet legam anim culpa.
                  %i.bi.bi-quote.quote-icon-right
            / End testimonial item
            .swiper-slide
              .testimonial-item
                .d-flex
                  %img.testimonial-img.flex-shrink-0{:alt => "", :src => "/assets/public/assets/img/testimonials/testimonials-3.jpg"}/
                  %div
                    %h3 Jena Karlis
                    %h4 Store Owner
                    .stars
                      %i.bi.bi-star-fill
                      %i.bi.bi-star-fill
                      %i.bi.bi-star-fill
                      %i.bi.bi-star-fill
                      %i.bi.bi-star-fill
                %p
                  %i.bi.bi-quote.quote-icon-left
                  %span Enim nisi quem export duis labore cillum quae magna enim sint quorum nulla quem veniam duis minim tempor labore quem eram duis noster aute amet eram fore quis sint minim.
                  %i.bi.bi-quote.quote-icon-right
            / End testimonial item
            .swiper-slide
              .testimonial-item
                .d-flex
                  %img.testimonial-img.flex-shrink-0{:alt => "", :src => "/assets/public/assets/img/testimonials/testimonials-4.jpg"}/
                  %div
                    %h3 Matt Brandon
                    %h4 Freelancer
                    .stars
                      %i.bi.bi-star-fill
                      %i.bi.bi-star-fill
                      %i.bi.bi-star-fill
                      %i.bi.bi-star-fill
                      %i.bi.bi-star-fill
                %p
                  %i.bi.bi-quote.quote-icon-left
                  %span Fugiat enim eram quae cillum dolore dolor amet nulla culpa multos export minim fugiat minim velit minim dolor enim duis veniam ipsum anim magna sunt elit fore quem dolore labore illum veniam.
                  %i.bi.bi-quote.quote-icon-right
            / End testimonial item
            .swiper-slide
              .testimonial-item
                .d-flex
                  %img.testimonial-img.flex-shrink-0{:alt => "", :src => "/assets/public/assets/img/testimonials/testimonials-5.jpg"}/
                  %div
                    %h3 John Larson
                    %h4 Entrepreneur
                    .stars
                      %i.bi.bi-star-fill
                      %i.bi.bi-star-fill
                      %i.bi.bi-star-fill
                      %i.bi.bi-star-fill
                      %i.bi.bi-star-fill
                %p
                  %i.bi.bi-quote.quote-icon-left
                  %span Quis quorum aliqua sint quem legam fore sunt eram irure aliqua veniam tempor noster veniam enim culpa labore duis sunt culpa nulla illum cillum fugiat legam esse veniam culpa fore nisi cillum quid.
                  %i.bi.bi-quote.quote-icon-right
            / End testimonial item
          .swiper-pagination
/ /Testimonials Section

