/ Testimonials Section
.section.testimonials.light-background
  .container
    .row.align-items-center
      .col-lg-5.info{"data-aos" => "fade-up", "data-aos-delay" => "100"}
        %h3
          = t('pages.testimonials.title')
        %p
          = t('pages.testimonials.body')

      .col-lg-7{"data-aos" => "fade-up", "data-aos-delay" => "200"}
        .swiper.init-swiper
          %script.swiper-config{"type" => "application/json"}
            | {
            |   "loop": true,
            |   "speed": 600,
            |   "autoplay": {
            |     "delay": 5000
            |   },
            |   "slidesPerView": "auto",
            |   "pagination": {
            |     "el": ".swiper-pagination",
            |     "type": "bullets",
            |     "clickable": true
            |   }
            | }
          .swiper-wrapper
            - Page.testimonial.each do |testimonial|
              .swiper-slide
                .testimonial-item
                  .d-flex
                    %img.testimonial-img.flex-shrink-0{"src" => testimonial[:image], "alt" => testimonial[:name]}
                    %div
                      %h3= testimonial[:name]
                      %h4= testimonial[:title]
                      .stars
                        %i.bi.bi-star-fill
                        %i.bi.bi-star-fill
                        %i.bi.bi-star-fill
                        %i.bi.bi-star-fill
                        %i.bi.bi-star-fill
                  %p
                    %i.bi.bi-quote.quote-icon-left
                    %span Proin iaculis purus consequat sem cure digni ssim donec porttitora entum suscipit rhoncus. Accusantium quam, ultricies eget id, aliquam eget nibh et. Maecen aliquam, risus at semper.
                    %i.bi.bi-quote.quote-icon-right
          .swiper-pagination
